.app_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.App {
  display: flex;
}

.todoList {
  width: 300px;
  border: black 1px solid;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.todoList_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detete_todoList {
  background: red;
  width: 25px;
  height: 25px;

}


/*.todoList {*/
/*  width: 500px;*/
/*  margin: 0 auto;*/
/*}*/

.todoList > div {
  padding: 10px;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
}
